.navbar div div ul li
{
  margin:0 72px;
  font-size: 20px;
}

#navbar
{
  background-color:#034f84;
}

.dropdown-menu{
  background-color:#92a8d1;
}

#lacs:focus,#projet:focus
{
  background-color:#92a8d1;
}

.ligneLac {
  border : none;
  border-bottom: 2px solid #353d76;
  width : 200px
}
