/*GENERAL*/
@font-face{
  font-family: "Roboto";
  src : url("../POLICE/Roboto.ttf/Roboto-light.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family : "Roboto";
  color : black;
  background-color: #ffffff;
  padding-top: 70px;
  overflow-x: hidden;
}

.container {
  margin-right: 0;
  margin-left: 0;
  width: auto;
}

.contenu {
  padding-right: 7%;
  padding-left: 7%;
  min-height: calc(100vh - 140px);
  padding-top: 40px;
}


/*TITRES*/
h1, h2, h3 {
    color : #353d76;
}

h1 {
  margin-top: 10px;
}

h2, h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}


/*PARAGRAPHES ET LISTES*/
p{
    font-size: 17px;
    text-align: justify
}

li {
    font-size: 17px;
    text-align: justify;
    margin-left : 5px;
}


/*LIENS*/
a {
    color : #0275d8;
}

a:visited {
    color : #330066;
}

a:hover {
    text-decoration: underline;
    color : #025aa5;
}

a:active {
    color : #025aa5;
}


/*PARTIE LAC*/
.carte{
  display: none;
}

#titre_lac{
  border-top : 1px solid black;
  padding-left:20px;
  height: 60px;
}

.imgLac {
  max-width : 450px;
  max-height: 450px;
}


/*FOOTER*/
.footer {
  text-align: center;
  clear: both;
  bottom : 0;
  width : 100%;
  height: 70px;
}

.position {
    width : 100%;
    bottom : 0;
}

.logo_part {
  height : 60px;
  width : auto;
}

.ligneFooter {
  display: block;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #353d76, rgba(0, 0, 0, 0));
  opacity : 0.75;
  margin: 1em 0;
  padding: 0; 
  margin-bottom: 8px;
  margin-top: 0;
}

@media screen and (max-width : 740px) {
  .footer {
    display : none;
  }
}