@font-face{
    font-family: "Roboto";
    src : url("../POLICE/Roboto.ttf/Roboto-light.ttf") format("truetype");

}

* {
    box-sizing: border-box;
}

body {
    font-family : "Roboto";
    color : #353d76;
    background-color: #e4e5f0;
    padding-top: 50px;
    margin-right: 50px;
    overflow-x: hidden;
}
h1, h2 {
    margin-left: 40px;
}
p{
    font-size: 17px;
    margin-left: 40px;
    text-align: justify
}
li {
    font-size: 17px;
    text-align: justify;
    margin-left : 45px;
}
a {
    text-decoration : underline;
    color : #353d76
}
a:visited {
    text-decoration: underline;
    color : #181d40;
}
a:hover {
    text-decoration: underline;
    color :rgb(39, 143, 175);
}
a:active {
    text-decoration: underline;
    color: rgb(39, 143, 175);
}
.def {
    margin-left: 40px;
    color : #181d40;
}

object{
    width:100%;
}

#titre_lac{
    border-top : 1px solid black;
    padding-left:20px;
    height: 60px;
}


hr {
    border: none;
    border-bottom: 2px solid #353d76; /* Ou border-top */
    width : 800px;
}

#textVolet {
    margin-right :0px;
}

.ligneVolet {
    border: none;
    border-bottom: 2px solid #353d76; /* Ou border-top */
    width : 650px;
}

.footer {
  background-color: white;
  box-shadow: 0px -1px 20px 0.5px #8c8c8c;
  text-align: center;
  position: fixed;
  bottom : 0;
  width : 100%;
}

.logo_part {
  width : 100px;
}

.container {
  margin-right: 0;
  margin-left: 0;
  width: auto;
}
