.voletContainer.container {
	margin-left : 0;
	margin-top : 0;
	padding-left : 0;
}

.vertical-menu {
	width: 200px;
	height: 100%;
	position :fixed;
	background-color: #ffffff;
	box-shadow : 3px 0px 5px gray;
	font-size : 20px;
	display : flex;
	flex-direction: column;
	justify-content: center;
}

.vertical-menu a {
	text-align : center;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
	transition: all 0.3s ease;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #034f84;
    color: white;
}

.details {
	display : none;
}
